<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Arquivos</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="/static/js/script.js" defer></script>
</head>
<body>

  <h1>ARQUIVOS</h1>

  <div class="breadcrumb">
    <div style="flex-grow: 1;">
      <a href="/">Fileblobs</a>
      {{ if .Prefix }}
        {{ $parts := splitPrefix .Prefix }}
        {{ range $i, $part := $parts }}
          &nbsp;&gt;&nbsp;
          {{ if eq (add $i) (len $parts) }}
            <span class="current">{{ $part }}</span>
          {{ else }}
            <a href="/?prefix={{ joinPrefix $parts $i }}">{{ $part }}</a>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>

    {{ if .Prefix }}
      <div id="actionButtons">
        <button class="clean-btn">Upload</button>
        <button class="clean-btn" onclick="showDownloadConfirm()">Download</button>
      </div>
      <div id="confirmButtons" style="display: none;">
        <button class="clean-btn cancel" onclick="cancelDownload()">Cancelar</button>
        <button class="clean-btn" onclick="selectAll()">Selecionar Todos</button>
        <button class="clean-btn confirm" onclick="downloadSelected()">Baixar</button>
      </div>
    {{ end }}
  </div>

  <div class="search">
    <form method="GET" onsubmit="return false;">
      <input type="text" id="searchInput" placeholder="Buscar..." value="{{.Query}}">
    </form>
  </div>

  {{ if .Folders }}
    <div class="grid" id="foldersGrid">
      {{ range .Folders }}
        <div class="folder" data-path="{{ . }}" onclick="handleFolderClick(this)">
          <div>{{ baseName . }}</div>
          <img src="https://cdn-icons-png.flaticon.com/512/716/716784.png" alt="folder" />
        </div>
      {{ end }}
    </div>
  {{ end }}

  {{ if .Files }}
    <h2 style="margin-left: 30px;">Arquivos</h2>
    <div class="grid">
      {{ range .Files }}
        <div class="file selectable" data-path="{{ joinPath $.Prefix . }}" onclick="toggleFileSelection(this)">
          <input type="checkbox" class="file-checkbox" name="files" value="{{ joinPath $.Prefix . }}">
          <div class="file-link">
            <div class="file-name">{{ baseName . }}</div>
            <img src="{{ fileIcon . }}" alt="file" />
          </div>
        </div>
      {{ end }}
    </div>
  {{ end }}

</body>
</html>
